body{
    background-color: rgb(255, 255, 255);
    font-family: 'roboto', sans-serif;
}

.row{
    margin: 0;
}


.container{
    padding: 70px 0;
}

p, li{
    color: rgb(0, 0, 0);
    font-size: 14px;
}

/*barra de navegação*/
.navbar {
   
    background-color: #81c3e4;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 90px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

.navbar-nav a {
color: #fff;
}

.rodape{
        margin: auto;
        width: 60%;
        border: 0px solid #73AD21;
        padding: 5px;
}

#divAlingn{
    width:420px ;  
    height: 350px ;
    display: inline;
    margin-inline-start: auto;
}

.form-control{
    width: 40%;
}





